<div class="resultado">
    <img [src]="imagenUrl" alt="imagen criptomoneda">
    <p class="resultado-precio">El precio es de: <span>{{datos.PRICE}}</span></p>
    <p class="resultado-texto">El precio mas alto del día: <span>{{datos.HIGHDAY}}</span></p>
    <p class="resultado-texto">El precio mas bajo del día: <span>{{datos.LOWDAY}}</span></p>
    <p class="resultado-texto">Variación últimas 24 horas: <span>{{datos.CHANGEPCT24HOUR}}</span></p>
    <p class="resultado-texto">Última actualizacion: <span>{{datos.LASTUPDATE}}</span></p>
</div>