.contenedor{
    max-width: 900px;
    margin: 0 auto;
    width: 90%;
    
}
@media (min-width: 992px) {
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}

.heading{
    font-family: 'Lato', sans-serif;
    color: #FFF;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 34px;
}

.heading::after{
    content: '';
    width: 100px;
    height: 6px;
    background-color: #66A2FE;
    display: block;
    margin: 10px auto auto;
}



.imagen{
    max-width: 400px;
    width: 80%;
    margin: 100px auto 0 auto;
    display: block;
}